.box{
  display: flex;
  justify-content: center;
  
}
.home{
    text-align: center;
    @media (min-width: 1400px){
      width: 1320px;
    }
    @media (min-width: 1200px ) and (max-width: 1399px){
      width: 1140px;
    }
    @media (min-width: 992px) and (max-width: 1199px){
      width: 960px;
    }
    @media (min-width: 768px) and (max-width: 991px){
      width: 720px;
    }
    @media (min-width: 576px) and (max-width: 767px){
      width: 540px;
    }
  }
  .tittle{
    display: flex;
    justify-content: space-between;
    .filter{
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 0px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px){
   
  }
  .txt {
    margin: 0px;
  }
  .fl{
    display: flex;
  }
  