body {
  background-color : #f5f6f6;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h3{
  font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  padding: .5rem;
  width: 135px;
  height: 40px;
  text-align: start;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
